<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3c.org/1999/xhtml" xml:lang="en-us">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8;" />
    <title>{{page_name}} - Editing</title></head>
  <body>
    <h1>Editing {{page_name}}</h1>
    <p>
      <form method="post" action="/wikihub/{{page_name}}/save/">
        <textarea name="content" rows="20" cols="60">{{Content}}</textarea><br/>
        <input type="submit" value="Save Page" />
      </form>
    </p>
  </body>
</html>
